.cart-empty {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
.table {
  padding: 1% 0;
}
.table label {
  font-weight: 800;
  font-size: larger;
  margin-right: 10px;
}

.table select {
  width: 100px;
  padding: 5px;
}

.order-button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #ed5565;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #da4453;
}

.order-button:hover {
  background-color: #da4453;
  cursor: pointer;
}

.star {
  color: #da4453;
}

.disable-order:disabled,
.disable-order[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: no-drop;
}
