.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to top right, #da4453 0%, #ed5565 100%);
  padding: 15px 0;
  position: sticky;
  top: 0;
}
.navbar h1 {
  color: #fff;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}
.navbar ul li {
  list-style: none;
  padding-right: 20px;
}
.navElement {
  color: #fff;
  text-decoration: none;
}
.cart-count {
  padding: 5px;
  margin-left: 10px;
  background-color: #fff2f2;
  color: #da4453;
  border-radius: 10px;
}
